<div class="container">
  <div class="row">
    <div class="col-12">
        <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="projectName" 
                  placeholder="Enter project name"
                  formControlName="projectName"
                  required>
                  <span class="text-danger" *ngIf="!projectForm.get('projectName').valid  && projectForm.get('projectName').touched">Please enter a Project name</span>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input 
                type="email" 
                class="form-control" 
                id="email" 
                placeholder="Email"
                formControlName="email"
                email
                required>
                <span class="text-danger" *ngIf="!projectForm.get('email').valid  && projectForm.get('email').touched">Please enter a valid email!</span>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Project Status</label>
              <select id="selectProjectStatus" class="form-control" formControlName="selectProjectStatus" >
                  <!--option [value]="defaultSubScription" selected="selected">{{defaultSubScription}}
                    </option-->
                  <option *ngFor="let option of projectStatus" [value]='option'>{{option}}</option>
                </select>
            </div>            
            <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Submit</button>
          </form>
    </div>

    <hr>
    <div class="col-12" *ngIf='submitted'>
      <h2>Form Data</h2>
      <div>
        <p>Project Name: {{projectForm.value.projectName}}</p>
        <p>Emial ID: {{projectForm.value.email}}</p>
        <p>Project Status Type: {{projectForm.value.selectProjectStatus}}</p>
      </div>

    </div>
  </div>
</div>
