<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 form-inline">
      <input type="text" [(ngModel)]="filteredStatus" class="form-control">
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      
        <h2>App Status: {{ appStatus | async}}</h2>
        <!-- https://blog.xmltravelgate.com/sorting-with-pipes-in-angular-2-7370b0839468 
        https://alligator.io/angular/reactive-forms-formarray-dynamic-fields/-->
        <div class="form-inline">
        <label>Sort By: </label> 
        <!--select class="form-control" [(ngModel)]="sortby" (ngModelChange)='onOptionsSelected($event)'>
          <option selected>Sort by</option>
          <option value="asc">Ascending</option>
          <option value="des">Descending</option>
        </select -->
      </div>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus: 'status'| sortby: 'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name }}</strong> |
          {{ server.instanceType | uppercase | reverseOrder }} |
          {{ server.started | date:'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>

